.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #2b00ff 4px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #ff0000 0%, #781c1c 100%);
}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.pikaPic {
  height: 300px;
  width: 550px;
}

body {
  background: linear-gradient(to bottom, #0a65db 0%, #c2e8ff 100%) no-repeat
    center/cover;
  height: 100vh;
}
