@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

input,
select,
button {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 15%;
  margin: 15px;
  outline: none;
}

img {
  width: 200px;
}

.poke-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  text-align: center;
  width: 70%;
  margin-left: 18%;
}

.poke-cards li {
  list-style: none;
}

.poke-card {
  border: solid 2px blue;
  border-radius: 5px;
  background-color: white;
}

.poke-card-back {
  border-top: 2px solid black;
}

body {
  background: #000 url('./img/background.png') no-repeat center center/cover;
}

h1,
h2,
p {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  text-transform: capitalize;
}

h2 {
  margin-left: 15px;
}

.detail-card {
  color: darkblue;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
}

.pika-pic {
  margin-left: 25px;
}
